.feedback {
    color: red;
}

.alert {
    padding: 10px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.checked {
    color: orange;
}

.center {
    min-width: 300px;
    margin: auto;
    width: 50%;
}

.wrapper {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}