<div class="row container-box">
    <div *ngIf="showStar" style="float: left; padding: 5px 10px 0px 10px; max-width:12%">
        <i [class]=starClass style="font-size:24px;" (click)="onStarClicked()" title="Add to favorites"></i>
    </div>
    <div style="float: left; padding: 10px 10px 5px 10px; width:88%">
        <a (click)="onContactClicked()">
            <div>
                <div class="screen-size-check-name">
                    <h4 class="list-group-item-heading text-overflow-custom">
                        {{ contact.name }}</h4>
                </div>
                <div class="screen-size-check-email">
                    <p class="list-group-item-text text-overflow-custom"> {{ contact.email }} </p>
                </div>
                <div class=" screen-size-check-phone">
                    <p class="list-group-item-text text-overflow-custom"> {{ contact.phone }} </p>
                </div>
            </div>
        </a>
    </div>
</div>