<a class="list-group-item clearfix" (click)="onContactClicked()">
    <div class="col-xs-12">
        <div class="col-xs-6" style="float: left;">
            <h4 class="list-group-item-heading">{{ contact.name }}</h4>
        </div>
        <div class="col-xs-4" style="float: left;">
            <p class="list-group-item-text"> {{ contact.email }} </p>
        </div>
        <div class="col-xs-2" style="float: left;">
            <p class="list-group-item-text"> {{ contact.phone }} </p>
        </div>
    </div>
</a>