<div style="margin: 20px;">
    <button class="btn btn-primary" type="button" (click)="onAddContact()">
        Add Contact
    </button>
    <hr>
    <nav class="navbar navbar-default" style="background-color: transparent; border-color: transparent;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/contacts">All Contacts</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>